*.class

# Jar/War/Ear files
*.jar
*.war
*.ear

.vscode/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nblibraries.properties
genfiles.properties
project.properties
private.properties

build/
!**/src/main/**/build/
!**/src/test/**/build/

*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
.exercism
.mf